.mainScreens {
    background: black;
    height: 100%;
    width: 100%;
    font-size: larger;
    font-family: "Griffy";
    overflow: hidden;
    img{
        height: 940px;
        overflow: hidden;
    }
}