<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Spot 5 mistakes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" [strong]="true">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="spotBox">
    <div class="image2">
      <div (click)="dot1()" class="area ">
        <div *ngIf="showDot1" class="dot">
        </div>
      </div>
      <div (click)="dot2()" class="area dot2Position">
        <div *ngIf="showDot2" class="dot">
        </div>
      </div>
      <div (click)="dot3()" class="area dot3Position">
        <div *ngIf="showDot3" class="dot">
        </div>
      </div>
      <div (click)="dot4()" class="area dot4Position">
        <div *ngIf="showDot4" class="dot">
        </div>
      </div>
      <div (click)="dot5()" class="area dot5Position">
        <div *ngIf="showDot5" class="dot">
        </div>
      </div>
    </div>
    <div class="image1">
    </div>
  </div>
</ion-content>

