<ion-header [translucent]="true">
  <ion-toolbar style=" font-family: Griffy; font-weight: 900;">
    <ion-title slot="start">
      who am i ??
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel('cancel')" [strong]="true">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="mainScreen">
  <div class="riddle">
    <p>{{riddle}}</p>
    <input
  type="text"
  id="inputField"
  [(ngModel)]="inputValue"
  name="inputField"
  (input)="onInput()"
  placeholder="Enter your answer here...."
/>
  </div>
 </div>
</ion-content>